<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.back_end.main.mapper.MainMapper">

    <resultMap id="user" type="com.ssafy.back_end.main.model.UserInfoDto">
        <id property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="nickname" column="nickname"/>
        <result property="phone" column="phone"/>
        <result property="birth" column="birth"/>
        <result property="profileImage" column="profile_image"/>
        <result property="gender" column="gender"/>
        <result property="height" column="height"/>
        <result property="weight" column="weight"/>
        <result property="district" column="district"/>
        <result property="siGunGu" column="si_gun_gu"/>
    </resultMap>

    <select id="getUserInfo" resultMap="user">
        SELECT id,
               name,
               email,
               nickname,
               phone,
               birth,
               profile_image,
               gender,
               height,
               weight,
               district,
               si_gun_gu
        FROM users
        WHERE id = #{id};
    </select>

    <update id="modifyProfile">
        UPDATE users
        <set>
            <!-- nickname이 null이 아닐 때만 nickname을 업데이트 -->
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <!-- profileImage가 null이 아닐 때만 profile_image를 업데이트 -->
            <if test="profileImage != null">
                profile_image = #{profileImage},
            </if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="getImagePathsByUserId" resultType="string">
        SELECT profile_image
        FROM users
        WHERE id = #{userId};
    </select>

    <select id="checkNickname" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE nickname = #{nickname} AND id != #{userId}
    </select>

    <update id="modifyUserInfo">
        UPDATE users
        SET height    = #{height},
            weight    = #{weight},
            district  = #{district},
            si_gun_gu = #{siGunGu}
        WHERE id = #{id};
    </update>

    <update id="modifyPassword">
        UPDATE users
        SET password = #{newPassword}
        WHERE id = #{id}
          AND password = #{curPassword};
    </update>

    <delete id="deleteUser">
        DELETE
        FROM users
        WHERE id = #{id};
    </delete>

</mapper>