<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.back_end.sns.mapper.SnsChatRoomMapper">
    <resultMap id="roomResultMap" type="com.ssafy.back_end.sns.model.RoomDto">
        <result column="id" property="id"/>
        <result column="user1_id" property="user1Id"/>
        <result column="user2_id" property="user2Id"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <resultMap id="messageResultMap" type="com.ssafy.back_end.auth.model.UserDto">
        <result column="id" property="id"/>
        <result column="sender_id" property="senderId"/>
        <result column="room_id" property="roomId"/>
        <result column="message" property="message"/>
        <result column="send_at" property="sendAt"/>
    </resultMap>

    <insert id="insertRoom" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rooms (user1_id, user2_id)
        VALUES (#{user1Id}, #{user2Id})
    </insert>

    <select id="findByUsers" resultMap="roomResultMap">
        SELECT * FROM rooms
        WHERE (user1_id = #{user1Id} AND user2_id = #{user2Id})
           OR (user1_id = #{user2Id} AND user2_id = #{user1Id})
    </select>

    <select id="findById" resultMap="roomResultMap">
        SELECT *
        FROM rooms
        WHERE id = #{id}
    </select>

    <select id="findAllUsers" resultMap="messageResultMap">
        SELECT * FROM users;
    </select>
</mapper>