<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.back_end.sns.mapper.SnsFeedMapper">

    <resultMap id="feed" type="com.ssafy.back_end.sns.model.FeedDto">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="image" column="image"/>
        <result property="likeCount" column="like_count"/>
        <result property="commentCount" column="comment"/>
        <result property="createdAt" column="created_at"/>
        <result property="userId" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="isLike" column="is_like"/>
    </resultMap>

    <resultMap id="likesList" type="com.ssafy.back_end.sns.model.UserPageDto">
        <id property="id" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="profileImage" column="profile_image"/>
    </resultMap>

    <resultMap id="commentsList" type="com.ssafy.back_end.sns.model.FeedInteractionDto">
        <id property="id" column="user_id"/>
        <result property="userId" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="profileImage" column="profile_image"/>
        <result property="comment" column="comment"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="getFeeds" resultMap="feed">
        SELECT f.id                                 AS id,
               f.content                            AS content,
               f.image                              AS image,
               (SELECT COUNT(*)
                FROM feed_interactions
                WHERE feed_id = f.id
                  AND interaction_type = 'like')    AS `like_count`,
               (SELECT COUNT(*)
                FROM feed_interactions
                WHERE feed_id = f.id
                  AND interaction_type = 'comment') AS `comment`,
               f.created_at                         AS created_at,
               u.id                                 AS user_id,
               u.nickname                           AS nickname,
               u.profile_image                      AS profile_image,
               CASE
                   WHEN fi.user_id IS NOT NULL THEN 1
                   ELSE 0
                   END AS is_like
        FROM feeds f
                 JOIN
             users u ON f.user_id = u.id
                 LEFT JOIN feed_interactions fi
                           ON f.id = fi.feed_id AND fi.user_id = #{myId} AND fi.interaction_type = 'like'
        WHERE CASE
                  WHEN #{userId} = 0 THEN f.user_id IN (SELECT followed_id
                                                        FROM follows
                                                        WHERE follower_id = #{myId}) OR f.user_id = #{myId}
                  ELSE f.user_id = #{userId}
                  END
        ORDER BY f.created_at DESC;

    </select>

    <insert id="writeFeed">
        INSERT INTO feeds (content, image, routine_id, user_id)
        VALUES (#{content}, #{image}, #{routineId}, #{userId});
    </insert>

    <update id="updateFeed">
        UPDATE feeds
        SET content    = #{content},
            image      = #{image},
            routine_id = #{routineId}
        WHERE id = #{id};
    </update>

    <delete id="deleteFeed">
        DELETE
        FROM feeds
        WHERE id = #{id};
    </delete>

    <select id="getListLikes" resultMap="likesList">
        SELECT u.id            AS user_id,
               u.nickname      AS nickname,
               u.profile_image AS profile_image
        FROM feed_interactions fi
                 JOIN users u ON fi.user_id = u.id
        WHERE fi.feed_id = #{feedId}
          AND fi.interaction_type = "like"
        ORDER BY fi.created_at DESC;
    </select>

    <select id="isLike" resultType="int">
        SELECT COUNT(*)
        FROM feed_interactions
        WHERE feed_id = #{feedId}
          AND user_id = #{userId}
          AND interaction_type = "like";
    </select>

    <insert id="likeFeed">
        INSERT INTO feed_interactions (feed_id, user_id, interaction_type)
        VALUES (#{feedId}, #{userId}, "like");
    </insert>

    <delete id="dislikeFeed">
        DELETE
        FROM feed_interactions
        WHERE feed_id = #{feedId}
          AND user_id = #{userId}
          AND interaction_type = "like";
    </delete>

    <select id="getListComments" resultMap="commentsList">
        SELECT fi.id           AS id,
               fi.comment      AS comment,
               fi.created_at   AS created_at,
               u.id            AS user_id,
               u.nickname      AS nickname,
               u.profile_image AS profile_image
        FROM feed_interactions fi
                 JOIN users u ON fi.user_id = u.id
        WHERE fi.feed_id = #{feedId}
          AND fi.interaction_type = "comment"
        ORDER BY fi.created_at DESC;
    </select>

    <insert id="writeComment">
        INSERT INTO feed_interactions (feed_id, user_id, comment, interaction_type)
        VALUES (#{feedId}, #{userId}, #{comment}, "comment");
    </insert>

    <update id="updateComment">
        UPDATE feed_interactions
        SET comment = #{comment}
        WHERE id = #{id};
    </update>

    <delete id="deleteComment">
        DELETE
        FROM feed_interactions
        WHERE id = #{id};
    </delete>

</mapper>