<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.back_end.exercise.mapper.WorkoutExerciseMapper">

    <select id="getAllExercises" resultType="com.ssafy.back_end.exercise.model.ExerciseDto">
        SELECT * FROM exercises
    </select>

    <select id="isExerciseLiked" parameterType="map" resultType="boolean">
        SELECT COUNT(*) > 0 FROM exercise_likes WHERE exercise_id = #{exerciseId} AND user_id = #{userId}
    </select>

    <select id="getExerciseById" parameterType="int" resultType="com.ssafy.back_end.exercise.model.ExerciseDto">
        SELECT * FROM exercises WHERE id = #{exerciseId}
    </select>

    <insert id="favoriteExercise" parameterType="map">
        INSERT INTO exercise_likes (user_id, exercise_id) VALUES (#{userId}, #{exerciseId})
    </insert>

    <delete id="unfavoriteExercise" parameterType="map">
        DELETE FROM exercise_likes WHERE user_id = #{userId} AND exercise_id = #{exerciseId}
    </delete>

    <select id="isFavoriteExercise" parameterType="map" resultType="boolean">
        SELECT COUNT(*) > 0 FROM exercise_likes WHERE user_id = #{userId} AND exercise_id = #{exerciseId}
    </select>

    <select id="getFavoriteExercisesByUserId" parameterType="int" resultType="com.ssafy.back_end.exercise.model.ExerciseDto">
        SELECT e.* FROM exercises e
                            JOIN exercise_likes uf ON e.id = uf.exercise_id
        WHERE uf.user_id = #{userId}
    </select>

    <update id="saveExerciseImage" parameterType="map">
        UPDATE exercises SET image = #{imageUrl} WHERE id = #{exerciseId}
    </update>

    <select id="getExerciseRecords" resultType="com.ssafy.back_end.exercise.model.ExerciseRecordDto">
        SELECT rd.exercise_id, e.name, rs.weight, rs.count, r.completed_at AS date
        FROM routine_sets rs
            JOIN routine_details rd ON rs.routine_detail_id = rd.id
            JOIN exercises e ON rd.exercise_id = e.id
            JOIN routines r ON rd.routine_id = r.id
        WHERE e.id = #{exerciseId} AND r.user_id = #{userId}
    </select>

</mapper>
